.main-list {
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
}

.NomList_heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
}

.NomList {
    width: 100%; 
    height: 90px;
    background-color: #FFF;
    float: left;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    background-color: darkmagenta;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    list-style: none;
}

.AddButton {
    color: #b9efe1;
    border: none;
    padding: 15px 32px;
    background-color: maroon;
    font-size: 16px;
    margin: 0 30px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

  