.NomItem {
    list-style: none;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    width: 600px;
}

.NomItem__title {
margin: 0 0 5px;
}

.NomItem__title a {
color: #263596;
}

.NomItem__row {
display: flex;
justify-content: space-between;
}

.NomItem__description {
text-align: left;
margin: 4px 0;
}

.AddNomItem__required {
color: #b00c0c;
}

.NomItem__buttons {
font-size: .8em;
text-align: right;
}