.form-body, .RegistrationPage, .LoginPage {
    width: 400px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.register, .login {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    margin-top: 10px;
}

.fields {
    color: maroon;
    font-family: 'VT323', monospace;
    font-size: 24px;
    margin-bottom: 10px;
    width: 455px;
}

.input {
    margin: 0;
}

@media screen and (max-width: 500px) {

    .header-container {
        width: 400px; /* Can be in percentage also */
        height: auto;
        margin: 0 auto;
        position: relative;
        text-align: center;
        padding-bottom: 20px;
        font-size: 18px;
    }
  
    .Header {
      height: 40px;
      display: inline-block;
      align-items: normal;
      justify-content: space-between;
      margin-bottom: 50px;
      font-family: 'VT323', monospace;
      font-size: 25px;
  }
    
  }