.AddNom__form {
  text-align: left;
}

.AddNom__form input,
.AddNom__form textarea {
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 15px;
  /* minus side padding and border */
  width: calc(100% - 16px - 2px);
  padding: 5px 8px;
  border: 1px solid #ddd;
}

.AddNom__form label {
  margin-top: 10px;
}

.AddNom__buttons {
  text-align: center;
}

.AddNom__required {
  color: #a51414;
}

.AddNom__error p {
  color: #a51414;
  margin-bottom: 5px;
}